% {erl_opts, [warnings_as_errors, debug_info]}.
{erl_opts, [debug_info]}.
{require_otp_vsn, "R15"}.
{deps, [
  {elli,            "", {git, "git://github.com/knutin/elli.git"}},
  {elli_access_log, "", {git, "git://github.com/wooga/elli_access_log.git"}}
]}.
{clean_files, ["ebin/*.beam"]}.

{xref_checks, [undefined_function_calls]}.
